* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color:#efd5ff;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #F4EEE0;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #F4EEE0;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 45em;
	height: 100%;
}

body {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #393646;
	font-size: 16px;
	color : #F4EEE0;
	font-family: 'Prompt', sans-serif;
}

h1 {
	font-size: 2em;
	text-align: center;
	padding: 0.5em 1em 0.35em 1em;
}

header {
	width: 60%;
	border-bottom: 2px solid #F4EEE0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3em;
	width: 100%;
}

#countryForm {
	position: relative;
	display: none;
	width: 60%;
}

#countrySubmit {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 7em;
	font-size: 1.1em;
	border-radius: 0 0.3em 0.3em 0;
	border: 1px solid #F4EEE0;
}

#countrySubmit:hover {
	transition: 0.2s linear;
	color: #393646;
	background-color: #F4EEE0;
}

input[type=text]{
	width: 100%;
	padding: 12px 20px;
	display: inline-block;
	border-color: #5D5D5D;
	border-style: solid;
	border-width: 1px 0 1px 1px;
	border-radius: 0.3em 0 0 0.3em;
	box-sizing: border-box;
	background-color:transparent;
	font-family: 'Prompt', sans-serif;
	color : #F4EEE0;
}

input[type=text]:focus {
	caret-color: #F4EEE0;
	color : #F4EEE0;
	font-family: 'Prompt', sans-serif;
	outline:none
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#suggestions {
	position: absolute;
	top:100%;
	display: none;
	flex-direction: column;
	width: 100%;
	max-height: 30vh;
	height: fit-content;
	overflow: scroll;
	overflow-x: hidden;
	background-color: #393646;
	z-index: 999;
	box-shadow: 0 10px 25px -7px #00000075;
	border-radius: 0 0 0.5em 0.5em;
}

.suggestion {
	display: flex;
	align-items: center;
	padding: 0.5em 0.25em 0.5em 1em;
}

.flagList {
	height: 1.5em;
	margin-right: 1em;
	border-radius: 0.25em;
}

.suggestionFocus {
	cursor: pointer;
	background-color: #4F4557;
	border: 0.1em solid #F4EEE0;
	padding: 0.4375em 0.1875em 0.4375em 0.9375em;
}

#answersContainer {
	display: none;
	flex-direction: column;
	width: 100%;
	margin-top: 5em;
	margin-bottom: 5em;
	font-size: 14px;
}

#answersCategories {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5em;
	column-gap: 0.5em;
}
.category {
	display: flex;
	flex-direction: column;
	height: 4em;
	width: 6em;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-bottom: 0.2em solid #F4EEE0;
}

#answersGrid {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

.answerRow {
	display: flex;
	justify-content: space-between;
	column-gap: 0.5em;
}

.answer {
	position: relative;
	padding: 0.2em;
	display: flex;
	height: 5em;
	width: 6em;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 0.1em solid #F4EEE0;
	background-color: #4F4557;
	overflow-wrap: break-word;
	border-radius: 0.25em;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
	z-index: 1;
}

.badAnswer {
	background-color: #FF5757;
}

.goodAnswer {
	background-color: #17D345;
}

.backgroundFlag {
	position: absolute;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	filter: brightness(52%);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 0.25em;
}

.backgroundArrow {
	position: absolute;
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 35%;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

@keyframes slideDown {
    0%, 100% { top: -25vh; }
    10%, 95% { top: 2vh; }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
	body {
		/*font-size: 14px;*/
	}
	#container {
		width:90%;
	}
	header {
		width: 100%;
		font-size: 16px;
	}
	#countryForm {
		display: none;
		width: 100%;
	}
	#suggestions {
		width: 100%;
	}
	#answersContainer{
		font-size: 12px;
	}
	.category {
		width: 6em;
		height: 6em;
	}
	h1 {
		font-size: 1.75em;
		padding: 0.5em 1em 0.35em 1em;
	}
}


@media screen and (min-width: 481px) and (max-width: 600px) {
	#container {
		width:90%;
	}
	header {
		width: 100%;
		font-size: 16px;
	}
	#suggestions {
		width: 100%;
	}
	#countryForm {
		width: 100%;
	}
	#answersContainer{
		font-size: 10px;
	}
	.category {
		width: 5.5em;
		height: 5.5em;
	}
	.answer {
		width: 5.5em;
		height: 5em;
	}
}

@media screen and (min-width: 334px) and (max-width: 480px) {
	#container {
		width:90%;
	}
	header {
		width: 100%;
		font-size: 16px;
	}
	#suggestions {
		width: 100%;
	}
	#countryForm {
		width: 100%;
	}
	#answersContainer{
		font-size: 8px;
	}
	h1 {
		font-size: 1.75em;
		padding: 0.5em 1em 0.35em 1em;
	}
	.category {
		height: 5.5em;
		width: 5em;
	}
	.answer {
		width: 5em;
		height: 5em;
	}
}

@media screen and (max-width: 333px) {
	#container {
		width:90%;
	}
	header {
		width: 100%;
		font-size: 16px;
	}
	#suggestions {
		width: 100%;
	}
	#countryForm {
		width: 100%;
	}
	#answersContainer{
		font-size: 8px;
	}
	h1 {
		font-size: 1.75em;
		padding: 0.5em 1em 0.35em 1em;
	}
	.category {
		height: 5em;
		width: 4em;
	}
	.answer {
		width: 4em;
		height: 4em;
	}
}
