* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color:#efd5ff;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #F4EEE0;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #F4EEE0;
}

/* width */
::-webkit-scrollbar {
	width: 0.2em;
	height: 0.4em;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 45em;
	height: 100%;
}

body {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(32, 33, 35, 1);
	font-size: 16px;
	color : #F4EEE0;
	font-family: 'Prompt', sans-serif;
}

h1 {
	font-size: 2em;
	text-align: center;
	padding: 0.5em 1em 0.35em 1em;
}

header {
	width: 60%;
	border-bottom: 2px solid #F4EEE0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2em;
	width: 100%;
}

#countryForm {
	position: relative;
	display: none;
	width: 60%;
	margin-top: 1em;
}

#countrySubmit {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 7em;
	font-size: 1.1em;
	border-radius: 0 0.3em 0.3em 0;
	border: 1px solid #F4EEE0;
}

#countrySubmit:hover {
	transition: 0.1s linear;
	color: #393646;
	background-color: #F4EEE0;
}

input[type=text]{
	width: 100%;
	padding: 12px 20px;
	display: inline-block;
	border-color: rgba(93, 93, 93, 0.5);
	border-style: solid;
	border-width: 1px 0 1px 1px;
	border-radius: 0.3em 0 0 0.3em;
	box-sizing: border-box;
	background-color:transparent;
	font-family: 'Prompt', sans-serif;
	color : #F4EEE0;
}

input[type=text]:focus {
	caret-color: #F4EEE0;
	color : #F4EEE0;
	font-family: 'Prompt', sans-serif;
	outline:none
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#suggestions {
	position: absolute;
	top:100%;
	display: none;
	flex-direction: column;
	width: 100%;
	max-height: 30vh;
	height: fit-content;
	overflow: scroll;
	overflow-x: hidden;
	background-color: rgba(32, 33, 35, 1);
	z-index: 999;
	border-color: rgba(93, 93, 93, 0.5);
	border-style: solid;
	border-width: 0 1px 1px 1px;
	box-shadow: 0 10px 25px -7px #00000075;
	border-radius: 0 0 0.5em 0.5em;
}

.suggestion {
	display: flex;
	align-items: center;
	padding: 0.5em 0.25em 0.5em 1em;
}

.flagList {
	height: 1.5em;
	margin-right: 1em;
	border-radius: 0.25em;
}

.suggestionFocus {
	cursor: pointer;
	background-color: #4F4557;
	border: 0.1em solid rgb(244 238 224 / 40%);
	border-radius: 0.3em;
	padding: 0.4375em 0.1875em 0.4375em 0.9375em;
}

#answersContainer {
	display: none;
	flex-direction: column;
	width: 100%;
	margin-top: 2.5em;
	margin-bottom: 2em;
	font-size: 14px;
	overflow-x: scroll;
}

#answersCategories {
	display: flex;
	justify-content: space-around;
	margin-bottom: 1.5em;
}

.category {
	display: flex;
	flex-direction: column;
	height: 4em;
	width: 11.5%;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-bottom: 0.2em solid #F4EEE0;
}

#answersGrid {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

.answerRow {
	display: flex;
	justify-content: space-around;
}

.answerSquare {
	width: 11.5%;
	border: 0.1em solid #F4EEE0;
	border-radius: 0.25em;
	z-index: 1;
}

.answerContent::before {
	content:"";
	padding-top:95%;
}

.answerContent {
	font-size: 1.15em;
	position: relative;
	display:flex;
	height:100%;
	width:100%;
	justify-content:center;
	align-items:center;
	text-align: center;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
	overflow-wrap: break-word;
	word-break: break-word;
}

.badAnswer {
	background-color: #d63f3f;
}

.answerPercent25_50 {
	background-color: #F3870D;
}

.answerPercent50_75 {
	background-color: #F3DA0D;
}

.goodAnswer {
	background-color: #3bc03b;
}

.backgroundFlag {
	position: absolute;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	filter: brightness(52%);
	height: 100%;
	width: 100%;
	z-index: -1;
	border-radius: 0.15em;
}

.backgroundArrow {
	position: absolute;
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 35%;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

#zoomContainer {
	display: none;
	margin-bottom: 2em;
}

#zoomButton {
	width: 3em;
	height: 3em;
	border-radius: 0.7em;
	border: 0.15em solid #F4EEE0;
	background-image: url("./images/zoomIn_w.png");
	background-size: 95%;
	background-repeat: no-repeat;
	background-position: center;
}

.toast {
	padding : 1.2em 4em 1.2em 4em !important;
	background: #171313 !important;
	border-radius: 0.5em !important;
	box-shadow: 0 10px 25px -7px #00000075 !important;
}

#ggContainer {
	display: none;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 2.5em;
}

.detailSquare {
	width: 48%;
	border-radius: 0.5em;
}

.detailPadding::before {
	content:"";
	padding-top:85%;
}

.detailPadding {
	position: relative;
	display:flex;
}

.detailContent {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#gameDetailPadding {
	border-radius: 0.5em;
	border: 0.16em solid #31ff83;
	background: rgb(20,132,47);
	background: -moz-linear-gradient(180deg, rgba(20,132,47,1) 0%, rgba(11,38,17,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(20,132,47,1) 0%, rgba(11,38,17,1) 100%);
	background: linear-gradient(180deg, rgba(20,132,47,1) 0%, rgba(11,38,17,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#14842f",endColorstr="#0b2611",GradientType=1);
}

#ggHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35%;
	width: 100%;
	font-size: 2em;
	font-weight: bold;
}

#ggGuess {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 1em;
}

#ggContent {
	height: 65%;
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

#ggFlag img {
	display: flex;
	width: 5.5em;
	border-radius: 0.5em;
	box-shadow: 0 10px 25px -7px #00000075;
}

#ggMessage {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#ggCountryName {
	font-weight: bold;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

#ggAttempts {
	display: flex;
	width: 100%;
	justify-content: center;
}

.ggAttemptsCount {
	font-size: 1.5em;
	font-weight: bold;
}

#shareGamePadding {
	border-radius: 0.5em;
	border: 0.16em solid #6ae8ff;
	background: rgb(0,96,198);
	background: -moz-linear-gradient(180deg, rgba(0,96,198,1) 0%, rgba(0,30,62,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(0,96,198,1) 0%, rgba(0,30,62,1) 100%);
	background: linear-gradient(180deg, rgba(0,96,198,1) 0%, rgba(0,30,62,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0060c6",endColorstr="#001e3e",GradientType=1);
}

#shareGameContent {
	padding: 1em;
	font-size: 1em;
}

#shareContent {
	white-space: pre-line;
	text-align: center;
}

#shareColors {
	white-space: pre-line;
	text-align: center;
}

#shareButtonContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 0.5em;
}

#shareButton {
	width: 100%;
	padding: 0.5em 1em 0.5em 1em;
	text-align: center;
	border-radius: 0.5em;
	border: 0.16em solid #6ae8ff;
}

#shareButton:hover {
	transition: 0.2s;
	background-color: #6ae8ff;
	color : #202123;
	cursor: pointer;
}

#cluesContainer {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	align-items: center;
	width: 60%;
	padding: 1em;
	border-radius: 0.5em;
	border: 0.16em solid #F4EEE0;
	background: rgb(62,62,62);
	background: -moz-linear-gradient(180deg, rgba(62,62,62,1) 0%, rgba(9,9,9,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(62,62,62,1) 0%, rgba(9,9,9,1) 100%);
	background: linear-gradient(180deg, rgba(62,62,62,1) 0%, rgba(9,9,9,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e3e3e",endColorstr="#090909",GradientType=1);
}

#clueContainerHeader {
	font-size: 1.3em;
}

#clues {
	justify-content: space-between;
	font-size: 0.7em;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.clueImg {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 6em;
	height: 6em;
	border: 0.16em solid #a5a5a580;
}

.clueImg img{
	width: 60%;
	height: 60%;
}

.clue {
	transition: 0.2s;
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 0.5em;
	text-align: center;
	width: 25%;
	color: #a5a5a580;
}

.clueUnlocked {
	color: #F4EEE0;
}

.clueImgUnlocked {
	border: 0.16em solid #F4EEE0;
}

.clueHover:hover{
	transition: 0.2s;
	cursor: pointer;
	scale: 1.05;
}

#clueContent {
	display: none;
	position: relative;
	background-color: #3e3e3e;
	border-radius: 0.2em;
	padding: 1em 0 1em 0;
	justify-content: center;
	width: 100%;
	font-size: 2em;
}

#cluePointer {
	position: absolute;
	top: -24px;
	left: 12%;
	transform: translateX(-50%);
	border-width: 12px;
	border-style: solid;
	border-color: transparent transparent #3e3e3e transparent;
}

@keyframes ZoomInAndOut {
    0%, 33% { scale: 1 }
    34%, 67% { scale: 1.2 }
    68%, 100% { scale: 1 }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
	#container {
		width:95%;
	}
	header {
		width: 70%;
		font-size: 16px;
	}
	#cluesContainer {
		width: 70%;
	}
	#countryForm {
		width: 70%;
	}
	#suggestions {
		width: 100%;
	}
	#answersContainer{
		font-size: 12px;
	}
	.category {
		height: 6em;
	}
	h1 {
		font-size: 1.75em;
		padding: 0.5em 1em 0.35em 1em;
	}
}


@media screen and (min-width: 481px) and (max-width: 600px) {
	#container {
		width:95%;
	}
	header {
		width: 100%;
		font-size: 16px;
	}
	#cluesContainer {
		width: 100%;
	}
	#suggestions {
		width: 100%;
	}
	#countryForm {
		width: 100%;
	}
	#answersContainer{
		font-size: 10px;
	}
	.category {
		height: 5.5em;
	}
	#ggContainer {
		justify-content: center;
		row-gap: 1em;
	}
	#gameDetailContainer {
		width: 75%;
	}
	#shareGameContainer {
		width: 75%;
	}
	.clueImg {
		width: 5em;
		height: 5em;
	}
}

@media screen and (min-width: 334px) and (max-width: 480px) {
	#container {
		width:95%;
	}
	header {
		width: 100%;
		font-size: 16px;
	}
	#cluesContainer {
		width: 100%;
	}
	#suggestions {
		width: 100%;
	}
	#countryForm {
		width: 100%;
	}
	#answersContainer{
		font-size: 8px;
	}
	h1 {
		font-size: 1.75em;
		padding: 0.5em 1em 0.35em 1em;
	}
	.category {
		height: 5em;
	}
	#ggContainer {
		justify-content: center;
		row-gap: 1em;
	}
	#gameDetailContainer {
		width: 90%;
	}
	#shareGameContainer {
		width: 90%;
	}
	.clueImg {
		width: 5em;
		height: 5em;
	}
}

@media screen and (max-width: 333px) {
	#container {
		width:95%;
	}
	header {
		width: 100%;
		font-size: 16px;
	}
	#cluesContainer {
		width: 100%;
	}
	#suggestions {
		width: 100%;
	}
	#countryForm {
		width: 100%;
	}
	#answersContainer{
		font-size: 8px;
	}
	h1 {
		font-size: 1.75em;
		padding: 0.5em 1em 0.35em 1em;
	}
	.category {
		height: 5em;
	}
	#ggContainer {
		justify-content: center;
		row-gap: 1em;
	}
	#gameDetailContainer {
		width: 90%;
	}
	#shareGameContainer {
		width: 90%;
	}
	.clueImg {
		width: 5em;
		height: 5em;
	}
}
