:root {
	--main-bg-color: rgb(16 16 16);
	--main-text-color: #F4EEE0;
	--header-border:2px solid #2b2b2b;
	--clue-text-color:grey;
	--clue-text-color-unlocked: #00ff84;
	--clue-border : 0.16em solid #2e2e2e;
	--clue-img-border : 0.2em solid var(--clue-text-color);
	--clue-img-border-unlocked : 0.2em solid var(--clue-text-color-unlocked);
	--clue-content-bg-color:#272727;
	--clues-bg-gradient: linear-gradient(180deg, #202020 0%, rgba(9,9,9,1) 100%);
	--clues-bg-webkit-gradient: -webkit-linear-gradient(180deg, #202020 0%, rgba(9,9,9,1) 100%);
	--clues-bg-moz-gradient: -moz-linear-gradient(180deg, #202020 0%, rgba(9,9,9,1) 100%);
	--input-border-color:#2e2e2e;
	--input-border-width: 0.1em 0 0.1em 0.1em;
	--input-border-radius: 0.35em 0 0 0.35em;
	--submit-hover-bg-color: var(--main-text-color);
	--submit-hover-color: var(--main-bg-color);
	--submit-border-radius: 0 0.35em 0.35em 0;
	--submit-border: 0.1em solid #f4eee08a;
	--suggestions-bg-color:#121212;
	--suggestion-focus-bg-color:#272727;
	--answer-categories-color:var(--main-text-color);
	--answer-categories-border-color: 0.2em solid var(--main-text-color);
	--answer-grid-color: #F4EEE0;
	--country-shape-brightness: brightness(1);

	--rules-img-url:url('../images/question-mark.svg');
	--zoomIn-img-url:url('../images/zoomIn_light.svg');
	--zoomOut-img-url:url('../images/zoomOut_light.svg');
	--border-locked-img-url:url('../images/borderClue_locked.svg');
	--border-unlocked-img-url:url('../images/borderClue_unlocked.svg');
	--captial-locked-img-url:url('../images/capitalClue_locked.svg');
	--captial-unlocked-img-url:url('../images/capitalClue_unlocked.svg');
	--shape-locked-img-url:url('../images/shapeClue_locked.svg');
	--shape-unlocked-img-url:url('../images/shapeClue_unlocked.svg');
	--loading-url:url('../images/loading.svg');
	--history-icon-url:url(../images/history_light.svg);
	--theme-url:url(../images/sun.svg);

	--white-text-color: #F4EEE0;
	--dark-text-color:#121212;
}

[data-theme="light"] {
	--main-bg-color: rgb(229 229 229);
	--main-text-color: #252525;
	--header-border: 2px solid var(--main-text-color);
	--clue-text-color: #b2b2b2;
	--clue-text-color-unlocked: #3bc03b;
	--clue-border : none;
	--clue-img-border : 0.2em solid var(--clue-text-color);
	--clue-img-border-unlocked : 0.2em solid var(--clue-text-color-unlocked);
	--clue-content-bg-color: white;
	--clues-bg-gradient: linear-gradient(180deg, #ffffff 0%, rgb(237 237 237) 100%);
	--clues-bg-webkit-gradient: -webkit-linear-gradient(180deg, #ffffff 0%, rgb(237 237 237) 100%);
	--clues-bg-moz-gradient: -moz-linear-gradient(180deg, #ffffff 0%, rgb(237 237 237) 100%);
	--input-border-color: rgb(0 0 0 / 24%);
	--submit-hover-bg-color: var(--main-text-color);
	--submit-hover-color: var(--white-text-color);
	--submit-border: 0.1em solid #595959;
	--suggestions-bg-color:#f3f3f3;
	--suggestion-focus-bg-color:#d5d5d5;
	--country-shape-brightness: brightness(0);

	--rules-img-url:url('../images/question-mark_dark.svg');
	--zoomIn-img-url:url('../images/zoomIn_dark.svg');
	--zoomOut-img-url:url('../images/zoomOut_dark.svg');
	--border-locked-img-url:url('../images/borderClue_locked_light.svg');
	--border-unlocked-img-url:url('../images/borderClue_unlocked_light.svg');
	--captial-locked-img-url:url('../images/capitalClue_locked_light.svg');
	--captial-unlocked-img-url:url('../images/capitalClue_unlocked_light.svg');
	--shape-locked-img-url:url('../images/shapeClue_locked_light.svg');
	--shape-unlocked-img-url:url('../images/shapeClue_unlocked_light.svg');
	--loading-url:url('../images/loading_light.svg');
	--history-icon-url:url(../images/history_dark.svg);
	--theme-url:url(../images/moon.svg);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color:#efd5ff;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--main-text-color);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--main-text-color);
}

/* width */
::-webkit-scrollbar {
	width: 0.2em;
	height: 0.4em;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 45em;
	height: 100%;
}

body {
	-webkit-tap-highlight-color: transparent;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--main-bg-color);
	font-size: 16px;
	color : var(--main-text-color);
	font-family: 'Prompt', sans-serif;
}

h1 {
	font-size: 1.75em;
	text-align: center;
	padding: 0.5em 1em 0.35em 1em;
}

header {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 60%;
	border-bottom: var(--header-border);
}

#themeButton {
	position: absolute;
	left: 0;
	background-image: var(--theme-url);
	background-repeat: no-repeat;
	background-size: contain;
	width: 2em;
	aspect-ratio: 1;
}

#themeButton:hover {
	cursor: pointer;
}

#rulesButton {
	position: absolute;
	right: 0;
	background-image: var(--rules-img-url);
	background-repeat: no-repeat;
	background-size: contain;
	width: 2em;
	aspect-ratio: 1;
}

#rulesButton:hover {
	cursor: pointer;
}

#historyButton {
	position: absolute;
	right: 2.25em;
	background-image: var(--history-icon-url);
	background-repeat: no-repeat;
	background-size: contain;
	width: 2em;
	aspect-ratio: 1;
}

#historyButton:hover {
	cursor: pointer;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1.5em;
	width: 100%;
}

#nextCountryCountdownContainer {
	display: flex;
	flex-direction: column;
	text-align: center;
	/*margin-bottom: 1em;*/
}

#nextCountryCountdown {
	/*font-size: 1.75em;
	font-weight: bold;*/
	letter-spacing: 0.05em;
}

#countryForm {
	position: relative;
	display: none;
	width: 60%;
	margin-top: 1em;
}

#countrySubmit {
	color: var(--main-text-color);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 7em;
	border-radius: var(--submit-border-radius);
	border: var(--submit-border);
}

#countrySubmit:hover {
	transition: 0.1s linear;
	color: var(--submit-hover-color);
	background-color: var(--submit-hover-bg-color);
}

.loading {
	background-color: var(--main-text-color);
	background-image: var(--loading-url);
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center;
}

input[type=text]{
	width: 100%;
	padding: 12px 20px;
	display: inline-block;
	border-color: var(--input-border-color);
	border-style: solid;
	border-width: var(--input-border-width);
	border-radius: var(--input-border-radius);
	box-sizing: border-box;
	background-color:transparent;
	font-family: 'Prompt', sans-serif;
	color : var(--main-text-color);
}

input[type=text]:focus {
	caret-color: var(--main-text-color);
	color : var(--main-text-color);
	font-family: 'Prompt', sans-serif;
	outline:none
}

input[type=text]:disabled {
	background-color: #3e3e3e;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#suggestions {
	position: absolute;
	top:100%;
	display: none;
	flex-direction: column;
	width: 100%;
	max-height: 30vh;
	height: fit-content;
	overflow: scroll;
	overflow-x: hidden;
	background-color: var(--suggestions-bg-color);
	z-index: 999;
	border-color: rgba(93, 93, 93, 0.5);
	border-style: solid;
	border-width: 0 1px 1px 1px;
	box-shadow: 0 10px 25px -7px #00000075;
	border-radius: 0 0 0.5em 0.5em;
}

.suggestion {
	display: flex;
	align-items: center;
	padding: 0.5em 0.25em 0.5em 1em;
	column-gap: 1em;
}

.flagList {
	height: 1.5em;
	border-radius: 0.25em;
}

.suggestionFocus {
	cursor: pointer;
	background-color: var(--suggestion-focus-bg-color);
	border-radius: 0.3em;
}

#answersContainer {
	display: none;
	flex-direction: column;
	width: 100%;
	margin-top: 2.5em;
	margin-bottom: 2em;
	font-size: 14px;
	overflow-x: scroll;
}

#answersCategories {
	color: var(--answer-categories-color);
	display: flex;
	justify-content: space-around;
	margin-bottom: 1.5em;
}

.category {
	display: flex;
	flex-direction: column;
	height: 4em;
	width: 11.5%;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-bottom: var(--answer-categories-border-color);
}

#answersGrid {
	color:var(--answer-grid-color);
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

.answerRow {
	display: flex;
	justify-content: space-around;
}

.answerSquare {
	cursor: default;
	width: 11.5%;
	border-radius: 0.35em;
	z-index: 1;
	animation-fill-mode: forwards;
}

.answerContent::before {
	content:"";
	padding-top:95%;
}

.answerContent {
	font-size: 1.15em;
	position: relative;
	display:flex;
	height:100%;
	width:100%;
	justify-content:center;
	align-items:center;
	text-align: center;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
	overflow-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
}

.badAnswer {
	background-color: #d63f3f;
	border: 0.15em solid #ff0000;
}

.answerPercent25_50 {
	background-color: #e78312;
	border: 0.15em solid #ff6323;
}

.answerPercent50_75 {
	background-color: #f0d000;
	border: 0.15em solid #ffff00;
}

.goodAnswer {
	background-color: #3bc03b;
	border: 0.15em solid #00ff0f;
}

.backgroundFlag {
	position: absolute;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	filter: brightness(52%);
	height: 100%;
	width: 100%;
	z-index: -1;
	border-radius: 0.2em;
}

.answer0 {
	border: 0.15em solid #959595;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}

.backgroundArrow {
	position: absolute;
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 35%;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

#zoomContainer {
	display: none;
	margin-bottom: 2em;
}

#zoomButton {
	width: 3em;
	height: 3em;
	border-radius: 0.7em;
	border: 0.15em solid var(--main-text-color);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}

.zoomInButton {
	background-image: var(--zoomIn-img-url);
}

.zoomOutButton {
	background-image: var(--zoomOut-img-url);
}

.toast {
	padding : 1.2em 4em 1.2em 4em !important;
	background: #171313 !important;
	border-radius: 0.5em !important;
	box-shadow: 0 10px 25px -7px #00000075 !important;
}

#ggContainer {
	color: var(--white-text-color);
	display: none;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 2.5em;
}

.detailSquare {
	width: 48%;
	border-radius: 0.5em;
}

.detailPadding::before {
	content:"";
	padding-top:85%;
}

.detailPadding {
	position: relative;
	display:flex;
	box-shadow: 0 10px 13px -7px #0000006e;
}

.detailContent {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1em;
	row-gap: 1em;
}

#gameDetailPadding {
	border-radius: 0.5em;
	border: 0.16em solid #31ff83;
	background: rgb(20,132,47);
	background: -moz-linear-gradient(180deg, rgba(20,132,47,1) 0%, rgba(11,38,17,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(20,132,47,1) 0%, rgba(11,38,17,1) 100%);
	background: linear-gradient(180deg, rgba(20,132,47,1) 0%, rgba(11,38,17,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#14842f",endColorstr="#0b2611",GradientType=1);
}

#ggHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 2em;
	font-weight: bold;
}

#ggGuess {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 1em;
	align-items: center;
}

#ggContent {
	height: 65%;
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

#ggFlag {
	transition: 0.4s;
	display: flex;
	height: fit-content;
	justify-content: flex-end;
}

#ggFlag:hover {
	cursor: pointer;
	scale: 1.15;
}

#ggFlag > img {
	width: 5.5em;
	border-radius: 0.5em;
	box-shadow: 0 10px 25px -7px #00000075;
}

#ggMessage {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#ggCountryName {
	font-weight: bold;
	font-size: 1.05em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

#ggAttempts {
	display: flex;
	width: 100%;
	justify-content: center;
}

#ggAttemptsCount {
	font-size: 1.5em;
	font-weight: bold;
}

#wikipediaLink {
	width: 100%;
	padding: 0.5em 1em 0.5em 1em;
	text-align: center;
	border-radius: 0.5em;
	border: 0.16em solid #31ff83;
	transition: 0.35s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 0.5em;
}

#wikipediaLink:hover {
	transition: 0.2s;
	background-color: #31ff83;
	color : #202123;
}

#wikiLogo {
	display: flex;
	background-color: white;
	padding: 0.15em;
	border-radius: 0.35em;
}

#shareGamePadding {
	border-radius: 0.5em;
	border: 0.16em solid #6ae8ff;
	background: rgb(0,96,198);
	background: -moz-linear-gradient(180deg, rgba(0,96,198,1) 0%, rgba(0,30,62,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(0,96,198,1) 0%, rgba(0,30,62,1) 100%);
	background: linear-gradient(180deg, rgba(0,96,198,1) 0%, rgba(0,30,62,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0060c6",endColorstr="#001e3e",GradientType=1);
}

#shareGameContent {
	padding: 0.75em 1em 0.75em 1em;
	font-size: 1em;
}

#shareContent {
	white-space: pre-line;
	text-align: center;
}

#shareColors {
	white-space: pre-line;
	text-align: center;
}

#shareButtonContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	column-gap: 0.5em;
}

.shareButton {
	width: 100%;
	padding: 0.5em 1em 0.5em 1em;
	text-align: center;
	border-radius: 0.5em;
	border: 0.16em solid #6ae8ff;
}

.shareButton:hover {
	transition: 0.2s;
	background-color: #6ae8ff;
	color : #202123;
	cursor: pointer;
}

#cluesContainer {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	align-items: center;
	width: 60%;
	padding: 1em;
	border-radius: 0.75em;
	border: var(--clue-border);
	box-shadow: 0 10px 13px -7px #00000014;
	background: var(--clues-bg-moz-gradient);
	background: var(--clues-bg-webkit-gradient);
	background: var(--clues-bg-gradient);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e3e3e",endColorstr="#090909",GradientType=1);
}

#clueContainerHeader {
	font-size: 1.3em;
}

#clues {
	justify-content: space-between;
	font-size: 0.7em;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.clueImg {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 6em;
	height: 6em;
	border: var(--clue-img-border);
}

.clueImg div{
	width: 60%;
	height: 60%;
	background-repeat: no-repeat;
	background-size: contain;
}

.clueCapitalImg {
	background-image: var(--captial-locked-img-url);
}
.clueCapitalImgUnlocked {
	background-image: var(--captial-unlocked-img-url);
}

.clueShapeImg {
	background-image: var(--shape-locked-img-url);
}
.clueShapeImgUnlocked {
	background-image: var(--shape-unlocked-img-url);
}

.clueBorderImg {
	background-image: var(--border-locked-img-url);
}

.clueBorderImgUnlocked {
	background-image: var(--border-unlocked-img-url);
}

.clue {
	transition: 0.4s;
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 0.5em;
	text-align: center;
	width: 28%;
	color: var(--clue-text-color);
}

.clueUnlocked {
	color: var(--clue-text-color-unlocked);
}

.clueImgUnlocked {
	border: var(--clue-img-border-unlocked);
}

#clueContentContainer {
	display: none;
	position: relative;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--clue-content-bg-color);
	border-radius: 0.4em;
	padding: 1em 0.5em 1em 0.5em;
	height: 100%;
	width: 100%;
	font-size: 1.5em;
	filter: drop-shadow(2px 4px 6px #0000002f);
}

#clueContent {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.clueContentNode {
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}

#cluePointer {
	position: absolute;
	top: -24px;
	left: 12%;
	transform: translateX(-50%);
	border-width: 12px;
	border-style: solid;
	border-color: transparent transparent var(--clue-content-bg-color) transparent;
}

.countryShape {
	filter: var(--country-shape-brightness);
	width: 80%;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.clueHover:active {
    transform: scale(1.1);
    transition: .15s;
}

.clueHover {
	cursor: pointer;
	transition: transform 0.25s ease-in-out;
}

@media (hover: hover) {
	/* .clueHover:hover{
		transition: 0.2s;
		cursor: pointer;
		scale: 1.1;
	} */
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media screen and (min-width: 601px) and (max-width: 768px) {
	#container {
		width:95%;
	}
	header {
		width: 70%;
		font-size: 16px;
	}
	#cluesContainer {
		width: 70%;
	}
	#countryForm {
		width: 70%;
	}
	#suggestions {
		width: 100%;
	}
	#answersContainer{
		font-size: 12px;
	}
	.category {
		height: 6em;
	}
	h1 {
		font-size: 1.75em;
		padding: 0.5em 1em 0.35em 1em;
	}
}


@media screen and (min-width: 481px) and (max-width: 600px) {
	#container {
		width:95%;
	}
	header {
		width: 100%;
		font-size: 16px;
	}
	#cluesContainer {
		width: 100%;
	}
	#suggestions {
		width: 100%;
	}
	#countryForm {
		width: 100%;
	}
	#answersContainer{
		font-size: 10px;
	}
	.category {
		height: 5.5em;
	}
	#ggContainer {
		justify-content: center;
		row-gap: 1em;
	}
	#gameDetailContainer {
		width: 75%;
	}
	#shareGameContainer {
		width: 75%;
	}
	.clueImg {
		width: 5em;
		height: 5em;
	}
}

@media screen and (min-width: 334px) and (max-width: 480px) {
	#container {
		width:95%;
	}
	header {
		width: 100%;
		font-size: 16px;
	}
	#cluesContainer {
		width: 100%;
	}
	#suggestions {
		width: 100%;
	}
	#countryForm {
		width: 100%;
	}
	#answersContainer{
		font-size: 8px;
	}
	h1 {
		font-size: 1.5em;
		padding: 0.5em 1em 0.35em 1em;
	}
	.category {
		height: 5em;
	}
	#ggContainer {
		justify-content: center;
		row-gap: 1em;
	}
	#gameDetailContainer {
		width: 90%;
	}
	#shareGameContainer {
		width: 90%;
	}
	.clueImg {
		width: 5em;
		height: 5em;
	}
}

@media screen and (max-width: 333px) {
	#container {
		width:95%;
	}
	header {
		width: 100%;
		font-size: 16px;
	}
	#cluesContainer {
		width: 100%;
	}
	#suggestions {
		width: 100%;
	}
	#countryForm {
		width: 100%;
	}
	#answersContainer{
		font-size: 8px;
	}
	h1 {
		font-size: 1.25em;
		padding: 0.5em 1em 0.35em 1em;
	}
	.category {
		height: 5em;
	}
	#ggContainer {
		justify-content: center;
		row-gap: 1em;
	}
	#gameDetailContainer {
		width: 90%;
	}
	#shareGameContainer {
		width: 90%;
	}
	.clueImg {
		width: 5em;
		height: 5em;
	}
}
